{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Formulaire d'ajout d'une voiture</h1>
    {{form_start(form)}}
    {{form_row(form.Immatriculation)}}
    {{form_row(form.marque)}}
    {{form_row(form.modele)}}
    {{form_row(form.anneeProduction)}}
    {{form_row(form.carburant)}}
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary btn-lg rounded">Creer une nouvelle voiture </button>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}
